*{
    box-sizing: border-box;
}

#welcome-section{
    height: 100vh;
}

@media only screen and (max-width : 900px) {
    #welcome-section{
        height: 80vh;
    }
}

#navbar{
    position: fixed;
    top: 0px; 
}